{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}
{% block title %}Profile - Pursuit{% endblock %}

{% block content %}


<div class="center-profile-container mt-4">
 <div class="profile-card">
  <img src="{{ url_for('static', filename='profile_pics/' ~ (user.profile_pic or 'default.png')) }}" alt="Profile Picture" class="profile-pic mb-3" style="width:120px; height:120px; object-fit:cover; border-radius:50%;">
  
  <h2>Welcome, {{ user.username }}</h2>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>About Me:</strong> {{ user.about_me or "No information provided." }}</p>
  <h4>Hobbies:</h4>
  <ul>
    {% if user.hobbies %}
      {% for hobby in user.hobbies %}
        <li>{{ hobby.hobby }}</li>
      {% endfor %}
    {% else %}
      <li>No hobbies listed.</li>
    {% endif %}
  </ul>
  <a href="{{ url_for('edit_profile') }}" class="btn btn-secondary mt-3">Edit Profile</a>
  <a href="{{ url_for('change_password') }}" class="btn btn-warning mt-3 ms-2">Change Password</a>
  <a href="{{ url_for('logout') }}" class="btn btn-danger mt-3 ms-2  align-items-center"><span class="material-symbols-outlined">
logout
</span>
Logout</a>
<a href="{{ url_for('delete_account') }}" class="btn btn-outline-danger mt-3 ms-2">Delete Account</a>
 </div>
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="popup-alert" class="popup-alert">
      <div class="popup-content">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <button onclick="document.getElementById('popup-alert').style.display='none'" class= "popup-close">OK</button>
      </div>
    </div>
    <script>
      window.onload = function(){
        var popup = document.getElementById('popup-alert');
        if (popup) popup.style.display = 'flex';
      }
    </script>
  {% endif %}
{% endwith %}
{% endblock %}