
<div class = " container mt-4">
    <h2>Sign Up</h2>
    <form id="signUpForm" class="mb-4" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username: </label>
            <input type="text" id="username" class="form-control" placeholder="Your Username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" class="form-control" placeholder="Your Email" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Your Password" required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Your Password" required>
        </div>
        <div class="mb-3">
            <label for="hobby" class="form-label">Hobby</label>
            <input type="text" id="hobby" class="form-control" placeholder="Your Hobby" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <p>Do you already have an account? Then <a href="/login">Login Here</a>.</p>
</div>
<script>
    document.getElementById('signUpForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        const hobby = document.getElementById('hobby').value;
        if (password !== confirmPassword) {
            alert("Passwords do not match!");
            return;
        }

        const users = JSON.parse(localStorage.getItem('users')) || [];
        users.push({ username, email, password ,hobby });
        localStorage.setItem('users', JSON.stringify(users));

        alert("Sign Up Successful! You can now log in.");
        window.location.href = "/login";
    });

    window.addEventListener('DOMContentLoaded', function() {
        const userList = document.getElementById('userList');
        const users = JSON.parse(localStorage.getItem('users')) || [];
        users.forEach(function(user) {
            const listItem = document.createElement('li');
            listItem.textContent = `${user.username} - ${user.email} - ${user.password} - ${user.hobby}`;
            
            userList.appendChild(listItem);
        });
    });

</script>

