{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="center-profile-container">
  <div class="edit-profile-card">
    <h2>Change Password</h2>
    <form method="POST">
      <label>Current Password:
        <input type="password" name="current_password" required>
      </label><br>
      <label>New Password:
        <input type="password" name="new_password" required>
      </label><br>
      <label>Confirm New Password:
        <input type="password" name="confirm_new_password" required>
      </label><br>
      <button type="submit" class="btn btn-primary mt-2">Change Password</button>
    </form>
  </div>
</div>
{% endblock %}