{% extends "base.html" %}

{% block title %}Pursuit{% endblock %}cccccc

{% block content %}
<div class="container mt-4">
    <header>
        <h1>Welcome to Pursuit!!</h1>
        <p>This is an app where users are free to socialise about their various hobbies and interests.</p>
        <p>Feel free to login if you already have an account, or sign up to get started!</p>
        <p>Once logged in, you can create your profile and share your hobbies with others and find people with the same interests as you.</p>
        <p>Check out the list of users below to see who else is part of the Pursuit community!</p>
        <p>Happy Pursuing!</p>

    </header>

    

    <h2>Users</h2>
    <ul id="userList"></ul>
</div>


{% endblock %}