{% extends "base.html" %}

{% block title %}Pursuit{% endblock %}cccccc

{% block content %}
<div class="container mt-4">
    <header>
        <h1>Welcome to Pursuit!!</h1>
        <p>This is an app where users are free to socialise about their various hobbies and interests.</p>
        <p>Enter your name and favorite hobby below</p>
    </header>

    <form id="userForm" class="mb-4">
        <input type="text" id="name" class="form-control mb-2" placeholder="Your Name" required>
        <input type="text" id="hobby" class="form-control mb-2" placeholder="Your Hobby" required>
        <input type="text" id="email" class="form-control mb-2" placeholder="Your Email" required>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2>Users</h2>
    <ul id="userList"></ul>
</div>


{% endblock %}